.cycle-slideshow {
    width: 100%;

    

    div {
        min-width: 100%;
        position: relative;
        img {
            min-width: 100%;
        }
        h2 {
            position: absolute;
            top: 10px;
            left: 50px;
        }
    }
}
